:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hoover-color: #2196f3;
  --bgc-main: #ffffff;
  --bgc-hero-footer: #2f303a;
  --bgc-team: #f5f4fa;
}

/* Захований заголовок  */
.visually-hidden-head {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--bgc-main);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 5px;
}

.main-nav {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  margin-left: 93px;
}

.current {
  color: var(--hoover-color);
}

.header-title {
  position: relative;
  padding-bottom: 40px;
}

.header-title:after {
  content: "";

  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-title:hover:after {
  opacity: 1;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-logo {
  width: 145px;
  height: 31px;
}

.logo-part {
  width: 100%;
  height: 100%;
}

.header-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-li:not(:last-child) {
  margin-right: 30px;
}

.header-title:hover,
.header-title:focus {
  color: var(--hoover-color);
}

.header-mail {
  display: flex;
  align-items: center;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.convert {
  width: 16px;
  height: 12px;

  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover .convert,
.header-mail:focus .convert {
  fill: var(--hoover-color);
}

.header-tel {
  display: flex;
  align-items: center;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover .smartphone,
.header-tel:focus .smartphone {
  fill: var(--hoover-color);
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--hoover-color);
}

/* Hero */

.btn {
  min-width: 200px;

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--hoover-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  color: #188ce8;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;

  background-color: var(--bgc-hero-footer);
  text-align: center;
}

.hero-head {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 8px;

  background-color: #fff;
}

.close-modal {
  display: flex;
  margin-left: auto;

  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head-modal {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--primary-text-color);
}

.modal-area {
  padding-right: 40px;
  padding-left: 40px;
  text-align: left;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.input-wrapter {
  position: relative;
}

.modal-input {
  cursor: pointer;
  width: 100%;
  height: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  padding: 12px 40px;
  background: transparent;
  outline: none;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--hoover-color);
}

.input-icon {
  position: absolute;
  top: 30px;
  left: 12px;
  transform: translateY(-30px);

  width: 18px;
  height: 18px;
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--hoover-color);
}

.modal-textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--hoover-color);
}

.button-modal {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;

  color: #757575;
  display: flex;
  align-items: center;
}

.check-icon {
  width: 11px;
  height: 8px;
}

.modal-checkbox:checked + .check-text span {
  background-color: #2196f3;
  border: none;
}

.check-text span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.terms-contract {
  color: #2196f3;
}

/* Основное */

.head-main-factors {
  font-weight: 700;
  font-size: inherit;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-main-factors {
  color: var(--secondary-text-color);
}

.main-factors {
  display: flex;
  flex-wrap: wrap;
}

.main-factors-li {
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.main-factors-li:nth-child(4n) {
  margin-right: 0px;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--bgc-team);
}

.anteena {
  width: 70px;
  height: 70px;
}

.clock {
  width: 70px;
  height: 70px;
}

.diagram {
  width: 70px;
  height: 70px;
}

.astronaut {
  width: 70px;
  height: 70px;
}

.job-pictures {
  padding-top: 0;
}

.head-job-pictures {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.job-pictures-list {
  display: flex;
  flex-wrap: wrap;
}

.job-picture-comp {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.job-picture-comp:not(:nth-child(3n)) {
  margin-right: 30px;
}

.job-picture-comp-div {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.job-picture-comp-explain {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* Команда */

.our-team {
  background-color: var(--bgc-team);
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
}

.our-team-picture:not(:nth-child(4n)) {
  margin-right: 30px;
}

.our-team-picture {
  flex-basis: calc((100% - 90px) / 4);
  padding-bottom: 30px;

  background-color: var(--bgc-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  text-align: center;
  margin-bottom: 50px;
}

.head-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.head-prof {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hoover-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16px;
  text-align: center;

  color: var(--primary-text-color);
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
}

.each-company {
  flex-basis: calc((100% - 150px) / 6);

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.each-company:not(:nth-child(6n)) {
  margin-right: 30px;
}

.company-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.each-company:hover,
.each-company:focus {
  border-color: var(--hoover-color);
}

.each-company:hover .company-logo,
.each-company:focus .company-logo {
  fill: var(--hoover-color);
}

/* Footer */

.footer-adrress {
  font-style: normal;
  display: flex;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgc-hero-footer);
  padding-left: 215px;
  padding-right: 215px;
}

.logo-frame {
  width: 145px;
  height: 31px;
}

.footer-ul {
  margin-top: 20px;
}

.footer-li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-street {
  color: #ffffff;
  font-style: normal;
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.join-footer {
  margin-bottom: 20px;

  font-style: normal;
  font-size: 14px;

  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list-footer {
  display: flex;
}

.join-footer-div {
  margin-left: 70px;
}

.social-item-footer {
  width: 44px;
  height: 44px;
}

.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--hoover-color);
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscribe-footer-div {
  margin-left: 93px;
}

.subscribe-head-footer {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.modal-form-footer {
  display: inline-flex;
}

.modal-input-footer {
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: transparent;
  outline: none;
}

::placeholder {
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.modal-button-footer {
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
}

/* .modal-button-footer::after {
  content: "";
  display: inline-flex;
  margin-left: 10px;
  width: 24px;
  height: 24px;

  background: url(../images/iconsend.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  fill: #ffffff;
}

.modal-button-footer::after:hover {
  fill: blue;
} */

.footer-icon-btn {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-footer:hover .footer-icon-btn {
  fill: var(--hoover-color);
}

/* Portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__set-buttons {
  text-align: center;
}

.portfolio__button {
  min-width: 73px;
  margin-bottom: 50px;
  margin-right: 8px;
  padding: 6px 22px;
  border-radius: 4px;

  cursor: pointer;
  background: var(--bgc-team);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;

  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--hoover-color);
  color: #ffffff;
}

/* Main portfolio */

.portfolio__exams {
  display: flex;
  flex-wrap: wrap;
}

.card {
  overflow: hidden;

  margin-right: 30px;
  margin-bottom: 30px;

  flex-basis: calc((100% - 60px) / 3);

  cursor: pointer;
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__container {
  position: relative;
  overflow: hidden;
}

.card__effect-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;

  width: 100%;
  height: 294px;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
}

.card:hover .card__effect-container {
  transform: translateY(0);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__effect-text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.card:nth-child(3n) {
  margin-right: 0px;
}

.card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card__text-container {
  padding: 20px 24px;
}

.card__head {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}

.card__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
