.flex-container-laptop {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.footer-adrress {
  font-style: normal;
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer {
  background-color: $bgc-hero-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-frame {
  width: 154px;
  height: 28px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin: 0 auto 0 120px;
  }

  @media screen and (min-width: 1200px) {
    width: 145px;
    height: 31px;
    margin: 0 auto 0 0;
  }
}

.footer-ul {
  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    text-align: start;
  }
}

.footer-li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-street {
  color: #ffffff;
  font-style: normal;
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.join-footer {
  margin-bottom: 20px;

  font-style: normal;
  font-size: 14px;

  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list-footer {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.join-footer-div {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 102px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0px;
    text-align: start;
  }
}

.social-item-footer {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link-footer {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color $transistion-effect;

  &:hover,
  &:focus {
    background-color: $hoover-color;
  }
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscribe-footer-div {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    text-align: start;
  }
}

.subscribe-head-footer {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.modal-form-footer {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    flex-direction: row;
  }
}

.modal-input-footer {
  padding: 15px 16px;
  width: 100%;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: transparent;
  outline: none;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

::placeholder {
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.modal-button-footer {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  width: 200px;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-top: 0px;
  }

  &:hover .footer-icon-btn {
    fill: $hoover-color;
  }
}

.footer-icon-btn {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  transition: fill $transistion-effect;
}
